<!DOCTYPE html>
<html lang="es">
<%- include('partials/head');-%>

    <body>
        <%- include('partials/navigation');-%>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 style="text-align: center;">
                Somos la clase obrera
            </h1>
            <br>
            <br>
            <br>
            <!-- Page Content -->

            <div class="hover hover-5 text-white rounded"><img src="/img/slider.jpg" alt="">
                <div class="hover-overlay"></div>
                <div class="hover-5-content">
                    <h3 class="hover-5-title text-uppercase font-weight-light mb-0">Trabajo<strong
                            class="font-weight-bold text-white"> Limpieza</strong><span>y Amor</span></h3>
                </div>
            </div>
            </div>
            </div>
            </div>

            </div>


            <section id="block_content">
                <div class="col-md-6 container">
                    <p class="card-text" style="text-align: justify; font-size: 20px;">
                        Somos personas trabajadoras, hemos hecho de nuestro esfuerzo una empresa dedicada a ayudar y a mantener contento a nuestros clientes, sabemos que diario tomas tu automóvil y viajas a diferentes destinos y muchas veces como nosotros viajas al TRABAJO. 
                    </p>
                    <p class="card-text" style="text-align: justify; font-size: 20px;">
                        Queremos que sorprendas siempre a tus amigos y que brilles en la vida tanto como tu auto.
                    </p>
                    <h3 class="text-slider">Así surgió "El Trapito"</h3>
                    <blockquote class="blockstyle"> <span class="triangle"></span>El gusto y pasión por los automóviles.</blockquote>
                    <blockquote class="blockstyle"> <span class="triangle"></span>Evolucionar el sistema de autolavado, contando con el mejor equipo y personal capacitado para brindarte mayor rapidez y comodidad.</blockquote>
                    <blockquote class="blockstyle"> <span class="triangle"></span>Socialmente responsables, ya que contamos con el equipo idóneo que nos permite cuidar y ahorrar el agua.</blockquote>
                </div>
            </section>


            <!--Footer-->
            <%- include('partials/footer');-%>


                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </body>

</html>