<!DOCTYPE html>
<html lang="es">
<%- include('partials/head');-%>

     <body>
          <%- include('partials/navigation');-%>
               <br>
               <br>
               <br>
               <br>
               <br>
               <h1 style="text-align: center;">
                    Conoce nuestros servicios  
               </h1>
               <br>
               <br>
               <br>
               <!-- Page Content -->
             


                 
<section id="gallery">
     <div class="container">
       <div class="row">


       <div class="col-lg-4 mb-4">
       <div class="card">
         <img src="/img/imgb.jpg">
         <div class="card-body">
           <h5 class="card-title">Lavado Basic</h5>
           <ul class="list-bullets">
               <li class="mb-2">Lavado Exterior.</li>
               <li class="mb-2">Shampoo espuma activa.</li>
               <li class="mb-2">Aspirado interior.</li>
               <li class="mb-2">Armor-All en llantas.</li>
               <li class="mb-2">Secado a mano.</li>
           </ul>
          <a href="" class="btn btn-outline-success btn-sm">$90</a>
           
         </div>
        </div>
       </div>
       <div class="col-lg-4 mb-4">
       <div class="card">
         <img src="/img/imgm.jpg">
         <div class="card-body">
           <h5 class="card-title">Lavado Medium</h5>
           <ul class="list-bullets">
               <li class="mb-2">Lavado Exterior.</li>
               <li class="mb-2">Shampoo espuma activa.</li>
               <li class="mb-2">Cera selladora.</li>
               <li class="mb-2">Aspirado interior.</li>
               <li class="mb-2">Armor-All en llantas.</li>
               <li class="mb-2">Secado a mano.</li>
           </ul>
          <a href="" class="btn btn-outline-success btn-sm">$120</a>
           
         </div>
        </div>
       </div>
       <div class="col-lg-4 mb-4">
       <div class="card">
         <img src="/img/imgp.jpg">
         <div class="card-body">
           <h5 class="card-title">Lavado Premium</h5>
           <ul class="list-bullets">
               <li class="mb-2">Lavado Exterior.</li>
               <li class="mb-2">Shampoo espuma activa.</li>
               <li class="mb-2">Tri-color polish conditioner.</li>
               <li class="mb-2">Cera selladora.</li>
               <li class="mb-2">Aspirado interior.</li>
               <li class="mb-2">Armor-All en llantas.</li>
               <li class="mb-2">Secado a mano.</li>
               <li class="mb-2">Refrigerio de espera</li>
           </ul>
          <a href="" class="btn btn-outline-success btn-sm">$150</a>
           
         </div>
        </div>
       </div>
     </div>
   </div>
   </section>
   



               <!--Footer-->
               <%- include('partials/footer');-%>


                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script
                         src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
     </body>

</html>